@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}


body {
    font-family: "Open Sans", sans-serif;
    background-color: #FFFF;
    font-size: small;
}

header {
    background-color: #FFFF;
    padding: 18px 16px;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 16px;
    background-color: white;
}

img {
    width: 120px;
}

.navbar a {
    color: #888888;
    text-decoration: none;
}

.navbar .button_entrar {
    background-color: #206F4A;
    color: white;
    border-radius: 6px;

    padding: 5px 10px;

    font-size: smaller;

}

.navbar .ativo {
    color: #206F4A;
    font-weight: bold;
}

.navbar .titulo .logo-nav{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.navbar .titulo .logo-nav img{
    width: 36px;
}

.titulo .logo-nav{
    color: #1EC118;
    font-weight: bold;
    font-size: large;
    font-family: 'Montserrat', sans-serif;
}
 
.hero {
    background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url('../assets/img/fundohome.jpg');
    background-size: cover;
    background-position: center;
    padding: 140px 40px;
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 26px;
}
.cards {
    display: flex;
    gap: 24px;
    padding: 40px;
    background-color: #f5f5f5;
    align-items: stretch;
}

.card {
    background-color: #206F4A;
    color: white;
    border-radius: 12px;
    padding: 24px;
    flex: 1;
    text-align: center;
}

.card-icon {
    background-color: #1a5c3a;
    border-radius: 8px;
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto 12px auto;
}
.card i {
    font-size: 32px;
    margin-bottom: 12px;
    color: #90EE90;
}

.card h3 {
    font-weight: bold;
    margin-bottom: 8px;
    font-size: 26px;
}

.card p {
    font-size: 14px;
}
footer {
    background-color: #206F4A;
    color: #FFFF;
    text-align: center;
    padding: 16px;
}