@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Open Sans", sans-serif;
    background-color: #FFFF;
    font-size: small;
}

header {
    background-color: #FFFF;
    padding: 18px 16px;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 16px;
    background-color: white;
}
img {
    width: 120px;
}
.navbar a {
    color: #888888;
    text-decoration: none;
}

.navbar .button_entrar {
    background-color: #206F4A;
    color: white;
    border-radius: 6px;

    padding: 5px 10px;

    font-size: smaller;

}

.navbar .ativo {
    color: #206F4A;
    font-weight: bold;
}

.navbar .titulo .logo-nav{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.navbar .titulo .logo-nav img{
    width: 36px;
}

.titulo .logo-nav{
    color: #1EC118;
    font-weight: bold;
    font-size: large;
    font-family: 'Montserrat', sans-serif;
}


.body {

  background: #ffffff;
  background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url('../assets/img/fundohome.jpg');
  background-size: cover;
  background-position: center;

}

.mover {
  display: flex;
  gap: 16px;
}

/*section, div {
  flex: 1; 
}*/

.banner {

  display: flex;
  background-color:rgba(1, 43, 0, 0.825);
  width: 100%;
  max-width: 700px;
  border-radius: 15px;
  padding : 2rem 2.5rem;
  margin-top:70px;    /* afasta da navbar */
  margin-bottom: 40px; /* afasta do que vem abaixo */
  margin-left: 80px;   /* } pra deixar no canto */
  margin-right: 80px;
  height: 700px;

} 


.linha {

  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  position: center;

}

.card {
    color: #fff9f6;
    display: flex;
    margin-top: 5px;
    margin-left:5px;
    margin-right: 5px;
    
}

.card-direito {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card-direito .titulo {
  width: 100%;
  text-align: center;
  margin-bottom: 20px;
}

.validacao {

    color: rgb(255, 255, 255);
    font-size: 15px;

}



.container {

    display: flex;
    padding: 0.3rem 1,5rem;
    font-weight: 700;
    gap: 1rem;
    align-items: center;
    justify-content: space-between;
}


.simulador .titulo h1 {
  display: flex;
  color: #000000;
  font-size: 2rem;/*tamanho da fonte*/
  font-weight: 400;/*negrito*/
  line-height: 1;/*aumenta o espaço entre as linhas pra ler melhor*/
  max-width: 380px;/*largura máxima pra não estourar o layout*/
  font: 'Open Sans', sans-serif;
  justify-content: center;
}


.paragrafo {

  display: flex;
  justify-content: flex-start;
  left: 10px;
  font-size: 1.3rem;

}

.simulador {

  display: flex;
  margin-bottom: 10px;
  position: relative;
  top: 1px;
  left: 130px;
  

}

.indicador {
    font-size: 14px;

}

.pegaDado {

  width: 500px;
  padding: 0.4rem 1rem;
  border: 1px solid #165c45;
  border-radius: 8px;
  background-color:#fff9f6;
  font-size: 1.1rem;
  

}

.selecao {

  width: 100%;
  padding: 0.4rem 1rem;
  border: 1px solid #165c45;
  border-radius: 8px;
  background-color: #ffffff;
  font-size: 1.1rem;
  

}



.butao {

    width: 80%; /* Ocupa os mesmos 800px das caixas de texto */
    background-color: #165c45;
    color: white;
    padding: 15px; 
    border: none;
    border-radius: 8px;
    font-weight: bold;
    font-size: 20px;
    cursor: pointer;
    margin-top: 10px;
    margin-left: 35px;
    margin-bottom: 20px;
}

.mensagem {

    color: #fff9f6;
    font-size: 17px;
    
}


.perder {
     color: rgb(221, 0, 0); 
     font-weight: bold;
}

.ganhar {
    color: rgb(0, 197, 0); 
    font-weight: bold
}


footer {
    background-color: #206F4A;
    color: #FFFF;
    text-align: center;
    padding: 16px;
}